*{
	margin:0px;
	padding: 0px;
	box-sizing: border-box;
}


body{
	font-family:'Poppins',sans-serif;
}

header{
	display: flex;
	width:90%;
	margin:auto;
	height:10vh;
	align-items: center;
}

.logo-container,.nav-links,.cart{
	display:flex;
}
.logo{
	font-weight: 400;
	margin:5px;
}

.logo-container{
	
	flex:1;

}
nav{
    
	flex:2;
}
.nav-links{
	
	justify-content: space-around;
	list-style: none;
	margin-top:20px;
}
.nav-link{
	
	color:#5f5f79;
	font-size:19px;
	text-decoration: none;
	
}

ul li ul li{
	display:none;
	position: fixed;

}
ul li:hover ul li{
	
	display:block;
	margin-top:0px;
}
.cart{
	flex:1;
	justify-content: flex-end;

}
.log-in{
	font-size:19px;
	margin-right:50px;
	align-items: center;
	text-decoration: none;
	color:#5f5f79;
}

.presentation{
	display:flex;
	width:90%;
	margin:auto;
	min-height: 80vh;
	align-items: center;
}

.intro-text h1{
	font-size:40px;
	font-weight: 500;
	background: linear-gradient(to right,#494964,#6f6f89);
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
}
.intro-text p{
	margin-top:5px;
	font-size:22px;
	color:#585772;
}

.cta{
	padding: 50px 0px 0px 0px;
}
.cta-select{
	display:block;
	margin-top:5px;
	border:2px solid #c36cbb;
	background: transparent;
	color:#c36cbb;
	width:150px;
	height:50px;
	cursor: pointer;
	font-size:16px;
}
.cta-add{
    margin-top:5px;
	background: #c36cbb;
	width:150px;
	height: 50px;
	font-size:16px;
	border:none;
	color:white;
}

.cover img{
	height:500px;
	filter:drop-shadow(0px 5px 3px black);
	animation:drop 1.5s ease;
}
.big-circle{
	position: absolute;
	top:0px;
	right:0px;
	z-index: -1;
	opacity: 0.8;
	height: 80%;
}
.medium-circle{
	position: absolute;
	top:30%;
	right:30%;
	z-index: -1;
	height: 60%;
}
.small-circle{
	position: absolute;
	bottom: 0%;
	left:20%;
	z-index: -1;
}

.laptop-select{
	width:15%;
	display: flex;
	justify-content: space-around;
	position: absolute;
	right:20%;

}

@keyframes drop{
	0%{
		opacity: 0;
		transform:translateY(-80px);
	}
	100%{
		opacity: 1;
		transform:translateY(0);
	}
}
.sve{
	margin-top:50px;
	margin-bottom:700px;
}
.text{
	
    margin-top:90px;
	left:50%;
	position:absolute;
	transform:translate(-90px,-50%);
}

h3{
	font-size:25px;
	color:#6c5ce7;
}
.middle{
	padding-top:100px;
	cursor: pointer;
	
}
.napred,.pozadina{
	margin-left:200px;
	width:440px;
	height:380px;
	backface-visibility: hidden;
	position: absolute;
	transition:transform .6s linear;
}

.napred img{
	width:440px;
	height:380px;
}
.napred{
	transform:perspective(600px) rotateY(0deg);
}
.pozadina{
	overflow: scroll;
	background: #f1f1f1;
	transform: perspective(600px) rotateY(180deg);
}

.pozadina-content{
	color:red;
	text-align: center;
	width:100%;
}

.card:hover>.napred{
	transform:perspective(600px) rotateY(-180deg);
}


.card:hover>.pozadina{
	transform: perspective(600px) rotateY(0deg);
}




.nastavak,.middle{
	position: absolute;
	display:inline-block;
}




.nastavak{
	position: absolute;
    margin-top:100px;
	margin-left:500px;
	cursor: pointer;
	
}

.napred1,.pozadina1{
	margin-left:200px;
	width:440px;
	height:380px;
	backface-visibility: hidden;
	position: absolute;
	transition:transform .6s linear;
}

.napred1 img{
	width:440px;
	height:380px;
}
.napred1{
	transform:perspective(600px) rotateY(0deg);
}
.pozadina1{
	overflow: scroll;
	background: #f1f1f1;
	transform: perspective(600px) rotateY(180deg);
}

.pozadina1-content{
	color:red;
	text-align: center;
	width:100%;
}

.nastavak:hover>.napred1{
	transform:perspective(600px) rotateY(-180deg);
}

.nastavak:hover>.pozadina1{
	transform: perspective(600px) rotateY(0deg);
}
.top{
	position:fixed;
	
	right: 12px;
	bottom: 20px;
		
	
	}
	.top img{
		margin-bottom:60px;
		
		width:30px;
		height:30px;
	}

	













.contact-section{
	background: #313840;
	padding:100px;
	text-align:center;
	margin-top:24px;
	
}
.inner-width{
	max-width:600px;
	margin:auto;
	padding: 0 20px;
}
.contact-section h1{
	font-size:20px;
	color:#888;
	margin-bottom: 40px;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-weight: 400;
}
.name,.email,.message{
	background: none;
	border:none;
	outline:none;
	border-bottom:1px solid;
	color:#888;
	padding:10px 6px;
	font-size:14px;
	margin-bottom: 40px;
}
.name{
	float:left;
	width:270px;
}
.email{
	float:right;
	width:270px;

}
.message{
	min-width: 100%;
	max-width: 100%;
}
.contact-section button{
	background: none;
	color:#70a1ff;
	border: 1px solid;
	padding: 12px 40px;
	border-radius:8px;
	text-transform: uppercase;
	font-size:14px;
	transition: 0.4s linear;
	cursor: pointer;
}
.contact-section button:hover{
	background: #70a1ff;
	color:#fff;
}



















@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
.login-box{
	width:280px;
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	color:red;
}

.login-box h1{
	
	font-size:40px;
	margin-bottom: 50px;
	padding:13px 0;
	text-decoration:none;
}
.textbox{
	width:100%;
	overflow: hidden;
	font-size:20px;
	padding:8px 0;
	margin:8px 0;
	border-bottom: 1px solid;
}
.textbox:hover{
    border-bottom: 1px solid green;
}
.textbox input{
	border:none;
	outline: none;
	background: none;
	color:red;
	font-size:18px;
	float:left;
	margin:10px;
	width:80%;
}
.btn{
	background: none;
	width:100%;
	color:red;
	padding:5px;
	border:2px solid red;
	font-size:18px;
	cursor: pointer;
}
.btn:hover{
	border:3px solid green;
    color:green;
}

.fa-user,.fa-lock{
	float:left;
	margin-top:12px;

}


.red{
    display:inline-flex;
	padding-bottom:50px;
	margin-bottom:50px;
   
}

.okvir{

	background-color:#ecf0f1;
	border: #bdc3c7 solid 3px;
	width:300px;
	height:450px;
	margin-left:100px;
	margin-top:50px;


}
.pozadina3{
	margin-top:20px;
	background:linear-gradient(to left,#636e72,white);

}
.okvir:hover{

		filter:drop-shadow(5px 5px 5px  #636e72);

	transform:scale(1.1);
	border-radius:10px;
}
.okvir img {
	width:294px;
	height:300px;
}


h4{
	text-align:center;
	color:#34495e;
}
h5{
	text-align:left;
	color:#2c3e50;
	font-size:20px;
    margin-left:5px;
}
p{
	margin-left:5px;
	margin-right:5px;
	color:#2c3e50;
}


.dugme{
	margin-left:30px;
	margin-top:20px;
	
}
.dodaj{
	text-decoration:none;
	font-size:20px;
	margin-left:20px;
	border-radius: 5px;
	border:2px solid #2980b9;
}





.footer {
	position:fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color:#2c3e50;
	height:40px;
	display:inline-flex;
	
  }
  .footer p{
	  margin-top:8px;
	  color:white;
	  font-size:20px;
  }
  .footer img{
	  margin-left:200px;
	  width:40px;
	  height:40px;
  }